body{
    background-color: #FAFAFA;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar {
    background-color: #FAFAFA;
    min-height: 12vh;
}

.row-presentation {
    background: #FAFAFA url("https://64.media.tumblr.com/76656c275a2ecc49cfe82675e954b138/tumblr_mho62cS6Aw1rjeb8co1_500.gif") center repeat-x;
    background-blend-mode: color-burn;
    min-height: 88vh;
}

.row-services {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);;
}

.row-prof {
    min-height: 50vh;
    background-color: #FAFAFA;
}

.row-contact {
    min-height: 50vh;
    background-color: #7DAAB3;
}

.col-turn {
    background-color: #40585C;
    color: #FAFAFA;
}

.col-info {
    min-height: 88vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #40585C;
}

.btn-primary {
    background-color: #76A1A8;
    border-color: #76A1A8;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #49A6B7;
    border-color: #49A6B7;
    border: 0;
}

#services {
    background-image: url(../img/service.jpg);
    background-size: cover;
    background-position: bottom;
}

.service-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    font-size: 1.05rem;
    color: #FAFAFA;
    box-shadow: 0.5rem 0.5rem 1.5rem black;
}

.service-icon {
    font-size: 4rem;
}

#prof-photo-a {
    background-image: url(../img/prof-photo-a.jpg);
}

#prof-photo-b {
    background-image: url(../img/prof-photo-b.jpg);
}

.prof-photo {
    min-height: 25vh;
    width: 25vh;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.6);
}

.prof-social {
    font-size: 1.5rem;
}