body{
    background-color: #FAFAFA;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    background-image: url(../img/only-logo.png);
    height: 100%;
    width: auto;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar {
    background-color: #FAFAFA;
    min-height: 12vh;
}

.row-presentation {
    /* background: url("../img/pulgar-2.jpeg"); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -10%;
    min-height: 88vh;
}

.presentation-image-container{
    width: 90%;
    height: 30vh;
}

.presentation-image {
    background: url("../img/pulgar-2.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 1px 4px 3px #fafafa;
}

#presentation-hr {
    border: 1px solid black;
    opacity: 1;
}

.row-services {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);;
}

.row-prof {
    min-height: 50vh;
    background-color: #FAFAFA;
}

.row-contact {
    min-height: 50vh;
    background-color: #7DAAB3;
}

.col-turn {
    background-color: #40585C;
    color: #FAFAFA;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
}

.col-info {
    min-height: 88vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #40585C;
}

.btn-primary {
    background-color: #76A1A8;
    border-color: #76A1A8;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #49A6B7;
    border-color: #49A6B7;
    border: 0;
}

#services {
    background-image: url(../img/service.jpg);
    background-size: cover;
    background-position: top;
}

@media (max-width: 767.98px) { 
    #services {
        background-image: url(../img/service-sm.jpg);
        background-position: center;
    }
 }

.service-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    font-size: 1.05rem;
    color: #FAFAFA;
    box-shadow: 0.5rem 0.5rem 1.5rem black;
}

.service-icon {
    font-size: 4rem;
}

#prof-photo-a {
    background-image: url(../img/prof-photo-a.jpg);
}

#prof-photo-b {
    background-image: url(../img/prof-photo-b.jpg);
}

.prof-photo {
    min-height: 25vh;
    width: 25vh;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.6);
}

.prof-social {
    font-size: 1.5rem;
}